* {
    box-sizing: border-box;
    
  }

  /* .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
   
  }

   .row:after {
    content: "";
    display: table;
    clear: both;
  } 

  div.gallery2 {
   
    margin-bottom: 75px;
    border-radius: 15px;
    width: 350px;
    height:320px;

    margin-top: 40px;
    margin-left: 250px;
    border: 2px solid #ccc;
    float: left;
    width: 250px;
  }

  div.gallery2:hover {
    border: 2px solid #3d3c3c;
    transform: scale(1.13);
    transition:0.6s;
  }

  div.gallery2 img {
    width: 100%;
    border-radius: 15px;
    background-size:cover;
  
  }

  div.desc2 {
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 30px;
  }
div.column1{
  position:relative;
  top:50px;
  right:12%;
} */

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 50%;
  padding: 10px;
}

.gallery2 {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.gallery2 img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
}

.gallery2 a {
  display: block;
  text-align: center;
}

.desc2 {
  text-align: center;
  margin-top: 10px;
}

.column1 {
  width: 50%;
  padding: 10px;
}

.column1 h2 {
  color: black;
}

.column1 p {
  padding: 4px;
  padding-left: 0px;
  text-align: left;
  color: black;
  font-size: 18px;
  width: 90%;
  overflow-wrap: break-word;
}



  #bid-button{
      color:white; 
      background-color:#04AA6D; 
      width:150px; 
      height:50px;  
      cursor: pointer;
      border: none;
      font-size: 17px; 
      margin-left:10px;  
      text-decoration: none;
      position:relative;
      left:300px;
      bottom:250px;
      margin-top: 0px;
  }
  
  #bid-button a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: none;
    color:white;
    font-weight: 500;
  }

  #bid-button:hover{
    font-size:31px;
    transition:0.6s;
  }